
# Define an initial status code to display to users visiting the site for the first time. If empty sites will use random codes on initial load.
INITIAL_HTTP_STATUS=200

# Define the string to use in the url hash when the user has visited the page initially. This can be basically anything.
INITIAL_STATUS_MESSAGE=refresh